*{
	margin: 0;
	padding :0;
}

article, header, main, nav, footer, aside, section,select {
	display: block;
}

body {
	font-family: Arial;
	font-size: 100%;
	background: #e9e9e9 ;
}

footer { text-align: center; }
footer ul { list-style: none; }
footer ul li { display: inline; margin-right: 10px; }

p {font-size: 14px;}

#links {display: none;}

.butSelected {background-image:none !important;background-color:#336699 !important; color:white;}

.list-group { margin-bottom: 0px;}



table {width: 100%;}

li {
	list-style-type: none;	
}

a {
	color: black;
	font-size:1.1em;
}

header {
	height:150px;
	width:100%;
	background:#z;
	padding-top:10px;
}

main {
	background-color: #ffffff;
	min-height:600px;
	min-width:100%;
	position: relative;
}

header input {
	margin:6px;
}


.btn-primary{
width:100%;
}

#joinbutton #seabutton{float:right}

a.list-group-item{
font-size:1.2em;
}

a.list-group-item.active{
background:#313131;
font-size:1.3em;

}a.list-group-item.active:hover{
background:#313131;
}


.clear {
	clear:both;
}


table th{font-size:1.4em;}

table td{font-size:1.1em;cursor:pointer;}

table tr td:nth-child(4) {
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1px;
}



select{width:100%;}

footer {
	background:#313131;
	width:100%;
	height:50px;
}

.slidesjs-pagination{display:none;}
#slides { width:90%;}
#content > h5{color:#337ab7;}


/*signup page*/


}
.signupclass h1{
  text-align:$align;
  padding:30px 0px 0px 0px;
  font:25px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  margin:0px;
}

.signupclass p{
  font:14px Open Sans;
  color:#6E6E6E;
  margin-bottom:30px;
}

.signupclass form{
  width:$full;
}

.signupclass input[type="text"],.signupclass input[type="email"],.signupclass input[type="password"]{
  width:98%;
  padding:15px 0px 15px 8px;
  border-radius:5px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(0,0,0,0.2);
  @include disable;
  border:1px solid rgba(0,0,0,1);
  margin-bottom:10px;
  color:#black; 
}

.signupclass input[type="submit"]{
  width:100%;
  padding:15px;
  border-radius:5px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:14px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.signupclass input:focus{
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.3);
  @include easeme;
}

.signupclass input[type="submit"]:hover{
  opacity:1;
  cursor:pointer;
}

.signupclass .name-help,.signupclass .email-help{
  display:none;
  padding:0px;
  margin:0px 0px 15px 0px;
}

#LogoutBut{float:right;margin-right:20px}
#sidebar {display:none};

#searchbutton{position:relative;top:61px;left:25px;float:right} /*find my partners button*/

select#cityList{width:100px;color:black;}

.option {
	height: 100%;
	width:25%;
	float: left;
	padding-left: 5px;
	position: relative;
	font-size:1.2em;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu-hamburger{z-index:1000000; font-weight:bold; font-size:0.8em; width:30%; background:#f6343f;  position:absolute; text-align:center;}
.menu-hamburger ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu-hamburger li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu-hamburger li:hover{display: block;    background:#f6343f; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu-hamburger ul li a { text-decoration:none;  margin: 0px; color:#f6343f;}
.menu-hamburger ul li a:hover {  color: #f6343f; text-decoration:none;}
.menu-hamburger a{text-decoration:none; color:white;}
.menu-hamburger a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


@media only screen and (min-width : 481px) /*min-device-width*/{   
#burgersymbol{display:none}

.container {
	width:100%;
	max-width:1000px;
}

.form-control{
width: 90px;
display:inline-block;
height:20px;
font-size:1.2em;
font-family:arial;
}

h5 {margin-top: 0px;}

input {
	border: 1px solid black;
	width: 97px;
	height:21px;
	margin-right: 27px;
}

input[type="button"] {
	border-radius: 20px;
	margin-right:0px; 
	width: 56px;
	height: 23px;
	font-size:1em;
}


#results_next  ,#recent_next,#se_next  { margin-left: 40px;}
#results_paginate, #recent_paginate,#se_paginate  span {margin-left: 30px;}


#logo {
	background-image: url(../images/logo.gif);
	display: block;
	width: 184px;
	height: 90px;
	float: left;
}

.navbar { margin-bottom: 0px;}
.navbar ul{width:100%;}
.navbar li{width:16%;}


#welcome {
	max-width: 300px;
	height: 56px;
	float:right;
	position:relative;
	right:5%;
	top:44px;
}

#welcome span{position:relative;top:23px;font-size:1.2em}

#photo {
	height: 52px;
	width: 52px;
	border: 2px;
	margin-right: 15px;
}

#sidebar{
	position:absolute;
	top:56px;
	left:20px;
	min-height:300px;
	width:19%;
	
}


#search {
	height:110px;
	max-width:745px;
}

#content div.panel.panel-default {margin-top:40px;}

nav {
	height: 38px;
	width:100%;

}
/*
#links {
	width:298px;
	height: 100px;
	float: left;
	margin-left:90px;
	font-size:1.2em;
}

#links ul{width:200px}
*/

#login {
	width: 255px;
	height:80px;
	float:right;
	position:relative;
	top:34px;
}




#results_filter ,#recent_filter,#se_filter{
	font-size:1.1em;
	font-family:arial;
	display:inline-block;
	width:100px;
	height:50px;
	position:relative;
	bottom:14px;
	left:20px;
}

#results_length, #recent_length,#se_length{
	font-size:1.1em;
	font-family:arial;
	display:inline-block;
	width:100px;
	height:50px;
	margin-left:5px;
}

#content{float:right;width:75%;margin-right: 10px;}

.breadcrumb{min-width:10%;display:inline;}

.breadcrumb ~ h3{display:inline;position:relative;left:28%;}

.breadcrumbscontainer{margin-bottom:10px;}

#banner{
	width:145px;
	height:300px;
	margin-top: 30px;
}

a#seabutton.btn.btn-default{float:right;position:relative; bottom:25px;width:100%;top:10px;}


}

@media only screen and (min-width:481px) and  (max-width : 767px) /*max-device-width*/{   
#burgersymbol{display:block}
#content{float:right;width:60%;height:100%}
#welcome{position:absolute;top:55px;}
#login{display:none;position:absolute;top:180px;right:50px;z-index:99}
.menu-hamburger{z-index:98}
#sidebar{height:300px;width:22%;left:0px}
#sidebar div.list-group{width:100%;}
#banner{display:none}
#ind{position:absolute;width:100%;left:0px;top:550px;}
footer{position:absolute;top:-100px;width:96%;}
.container{position:relative;top:100px}
body{background:#fff;}
div.panel.panel-default{height:250px}
#seabutton.btn.btn-default{top:10px}
#search div{width:100%;height:50px;}
#search div label{font-size:1em;width:80%;}
#search div label #cityList ,#categoryList,#branchList {
    float:left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: #E8E8E8;
    color: #000;
    outline: none;
    cursor: pointer;
    font-weight: 300;
    font-size:1.2em;
}


}
/*----------------------------------------------------------------------------------------------------------
 
 
 *************************************************************************************************************/

@media only screen and (max-width : 480px) /*max-device-width*/{   


#content{margin-top:20px;width:100%}



.container {
	width:100%;
	min-height:100%;
	padding:0px;
}


input {
	border: 1px solid black;
	width: 20px;
	height:30px;
	margin-right:5px;
}

input[type="button"] {
	border-radius: 20%;
	margin-right:5px; 
	width: 20px;
	height: 20px;
	font-size:1em;
}

#search.panel-body{padding:0;width:100%;float:left;}
div.panel.panel-default{float:left;width:100%}
button.btn.btn-default{float:left;position:relative;width:100%}
.breadcrumbscontainer{display:none}


header li {
	margin-right: 2.3px;
	margin:2.6px;
	float: left;
}


#results_filter, #recent_filter,#se_filter{display:none}

#results_length ,#recent_length,#se_length{display:none;}

#links a{
margin-right:10px;
}

header {
	width:100%;
	height:100%;
	background:#E8E8E8;

}

#logo {
	background-image: url(../images/logo-mobile.gif);
	display: block;
	width: 94px;
	height: 46px;
	margin:0 auto;
	margin-top:5px;
}

#welcome {
	display:none;
}

#photo {
	height: 15px;
	width: 15px;
	border: 1px;
	margin-right: 5px;
}

#sidebar{
	float:left;
	width:100%;
	min-height:100px;
	padding-bottom:10px;
}

#search {
	width:100%;
	float:left;
}

nav {
	height: 200px;
	width:20%;
	opacity:1;
	float:left;
	z-index:99;
}

nav.navbar.navbar-inverse { height: 50px; width:100%;}
.expend {height: 100%;}


main {
	background-color: #ffffff;
	max-width:100%;
	min-height:100%;
	float:left;
}


#results ,#recent,#se {width:100%}


#login {
	display:none;
}

.form-control{
width: 50%;
float:left;
min-height:35px;
}


table th{font-size:0.9em;}

table td{font-size:0.8em;cursor:pointer}


.option {
	height: 100%;
	width:40px;
	float:left;
	margin-right:10px;
}



.boxLeft {
	min-height:85px;
	border: 1px solid;
	width:40px;
	display: none;
}

#banner{display:none}


#slidesjs-container,#slides{margin:0px;width:100%;margin-right:0px}
.slidesjs-previous.slidesjs-navigation{display:none}
.slidesjs-next.slidesjs-navigation{display:none}
#content h2{font-size:1.8em;margin-left:10px}
#content >h3{display:none}
#content h4{font-size:1.3em;margin-left:10px}
#content h5{font-size:1.2em;margin-left:10px}
a#logo{z-index:100;float:left;width:100%;background-repeat: no-repeat;background-position: center;}
#mainNav.navbar.navbar-inverse{display:block}
a#seabutton.btn.btn-default{margin:0;margin-top:0;float:left;width:100%;top:10px;}
div.panel-heading >h3{font-size:1.4em;margin-left:5px;}
section.#search.panel-body{width:100%;height:auto;}
#search div{width:100%;height:50px;}
#search div label{font-size:1em;width:80%;}
#search div label #cityList ,#categoryList,#branchList {
    float:left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: #E8E8E8;
    color: #000;
    outline: none;
    cursor: pointer;
    font-weight: 300;
    font-size:1.2em;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding-left: 0px;
	padding-right: 0px;
}

div#ind.panel.panel-default{height:auto}
div.panel-heading h1{font-size:1.4em}
#lastadded.panel-body{padding:0}
#results_wrapper{width:100%}
table#results.table.table-hover.display.responsive.no-wrap.dataTable.no-footer{margin-bottom:0}
table thead tr{font-size:3.5vw;}
table tbody tr{font-size:3.5vw;height:50px}
.dataTables_info{margin-left:10px}
.paginate_button.current{display:none}
.paginate_button.previous {margin-left:10px}
.paginate_button.next {margin-left:10px}
#login{display:none;position:absolute;top:100px;z-index:101;width:40%;float:left}
#username.form-control{font-size:2.2vw;}
#Password.form-control{font-size:2.2vw;}
#LoginBut{width:55px;position:absolute;left:0px;top:140px;}
#s_up{position:absolute;top:170px;left:0px;width:55px}
#LogoutBut{position:absolute;left:20px;width:55px;}
.menu-hamburger{z-index:5}

.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}
}